ul li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  border-left: 0.1px solid rgb(255, 255, 255);
}

ul li:first-child {
  border-left: none;
}
ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#menu a:hover {
  color: #bcbcbc;
}

#menuknap {
  display: inline-block;
}

#menu {
  list-style-type: none;
  font-family: "Open sans", sans-serif;
  font-weight: lighter;
  height: 50px;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: rgb(255, 88, 88);
  padding-top: 15px;
}

.hidden {
  display: none;
}
